<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
<div>
<br>
<h2><%= t ('about_us') %></h2>
<ul class="list-group">
  <li class="list-group-item"><%= t ('name') %><%= @institution.name %></li>
  <li class="list-group-item"><%= t ('cnpj') %><%= @institution.cnpj %></li>
  <li class="list-group-item"><%= t ('address') %><%= @institution.address %></li>
  <li class="list-group-item"><%= t ('phone') %><%= @institution.phone %></li>
  <li class="list-group-item"><%= t ('email') %><%= @institution.email %></li>
</ul>


</div>
<h2><%= t ('need') %></h2>
<% @institution.donation.each do |donation| %>
  <ul class="list-group">
    <li class="list-group-item"><%= donation.need %></li>
  </ul>
<% end %>
<h2><%= t ('need_form') %></h2>
<%= form_with model: [ @institution, @institution.donation.build ] do |form| %>
  <div class="field col-auto">
    <%= form.label :need, class: 'col-form-label '  %>
    <%= form.text_field :need, class: 'form-control'  %>
  </div>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
