<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donation.description %>
</p>

<p>
  <strong>Need:</strong>
  <%= @donation.need %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @donation.institution_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
